html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

@font-face {
   font-family: Museo;
   src: url(fonts/museo.otf);
}

@font-face {
   font-family: UbuntuLight;
   src: url(fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
   font-family: UbuntuMedium;
   src: url(fonts/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
   font-family: UbuntuRegular;
   src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
   font-family: UbuntuBold;
   src: url(fonts/Ubuntu/Ubuntu-Bold.ttf);
}

input, button, select {
	outline: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input {
	border: 1px solid #ccc;
}

input:focus {
	border: 1px solid #c03d43;
}

.block {	
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #f4f4f4;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.container {
	width: 980px;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}

.container > div {
	position: relative;
}

/*button*/

.button {
	border: 0;
	border-radius: 5px;
	padding: 0 0 3px 0;
	display: block;
	margin: 0 auto;
	position: relative;
	-webkit-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.5);
	   -moz-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.5);
	        box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.5);
}

.button  > a {
	display: block;
	padding: 10px 15px;
	border-radius: 5px;
	background: #c03d43;
	color: #fff;
	font-size: 24px;
	font-family: Museo, Helvetica, Arial, sans-serif;
	cursor: pointer;
	       text-shadow: 0px 1px 0px rgba(50, 50, 50, 1);
	-webkit-box-shadow: 0px 3px 0px 0px rgba(144, 46, 50, 1);
	   -moz-box-shadow: 0px 3px 0px 0px rgba(144, 46, 50, 1);
	        box-shadow: 0px 3px 0px 0px rgba(144, 46, 50, 1);
}

.button-open {
	top: 22%;
}

.button-how {
	top: 15%;
}

.button-details {
	border-radius: 0;
	box-shadow: none;
	display: inline-block;
}

.button-details > a {
	border-radius: 0;
	font-size: 20px;
	
}

.button-order {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.button-order > a {
	
}

.button-suggest {
	top: 16%;
}

.button-review {
	top: 32%;
}

.button-end {
	margin: 0 auto;
}

/*end*/

.subscribe {
	width: 780px;
	margin: 15px auto;
	top: 19%;
	background: rgba(255, 255, 255, .7);
	text-align: center;
	border: 7px solid rgba(255, 255, 255, .5);
	 -moz-background-clip: border;     
  -webkit-background-clip: border;
      background-clip: border-box;
				
     -moz-background-clip: padding;
  -webkit-background-clip: padding;
      background-clip: padding-box;
				
     -moz-background-clip: content;
  -webkit-background-clip: content;
      background-clip: content-box;
	        
	        box-sizing: border-box;
}

.subscribe input, .end input, .end select {
	width: 460px;
	height: 39px;
	margin-right: 25px;
	vertical-align: top;
	padding: 0 0 0 10px;
	font-size: 20px;
}
.end input, .end select {
	display: block;
	border-radius: 3px;
	margin: 35px auto;
	width: 90%;
}

label[for="date"] {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent; 
	border-top: 10px solid #ccc; 
	border-bottom: 10px solid transparent;
	position: absolute;
	top: 55px;
	right: 45px;
	pointer-events:none;  
}


/*decoration heartline*/

.heartline {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 588px;
}

.heartline-red {
	width: 325px;
}

.heartline i {
	font-size: 30px;
}

.heartline-red i {
	font-size: 22px;
}

.heartline-red {
	color: #c03d43;
}

.heartline-red:after, .heartline-red:before {
	background: #c03d43;
}

.heartline-black {
	color: #000000;
	top: 15%;
}

.heartline-black:after, .heartline-black:before {
	background: #000000;
}

.heartline:before, .heartline:after{
	position: absolute;
	content: '';
	width: 270px;
	height: 1px;
	top: 12px;
}

.heartline-red:after, .heartline-red:before {
	width: 145px;
	top: 7px;
}

.heartline:before {
	left: 0;
}

.heartline:after {
	right: 0;
}
/*end*/

.decorative-arrow {
	position: absolute;
	top: 55px;
	left: 0;
}

.hearts img:first-of-type{
	left: 220px;
}

.hearts img:last-of-type{
	left: 565px;
}

/* EPIC CONTROLS*/

/* underline */
.control:before {
	content: '';
	position: absolute;
	bottom: 0;
	height: 10px;
	width: 100%;
	background: rgba(255, 255, 255, .5);
}
/* arrow */
.control:after {
	cursor: pointer;
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 28px;
	width: 28px;
	margin-left: -14px;
	background-image: url(images/arrow-down.png);
	background-repeat: no-repeat;
	background-position: center 25%;
}
/* circle */
.control a {
	cursor: pointer;	
	display: block; 
	position: absolute;
	bottom: -35px;
	left: 50%;
	margin-left: -45px;
	text-align: center;
	width: 70px;
    height: 70px;
    border-radius: 50%;
    border-top: 10px solid rgba(255, 255, 255, .5);
    border-left: 10px solid rgba(255, 255, 255, .5);
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-color: #f4f4f4;
     
    -webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
		-moz-background-clip: border;
	 -webkit-background-clip: border;
	     background-clip: border-box;
       -moz-background-clip: padding;
	-webkit-background-clip: padding;
	    background-clip: padding-box;
	   -moz-background-clip: content;
	-webkit-background-clip: content;
	    background-clip: content-box;        
}

/* EPIC CONTROLS for suggest screen*/
.suggest .control:before {
	content: '';
	position: absolute;
	bottom: 0;
	height: 10px;
	width: 100%;
	background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(images/bit-line.jpg);
}

.suggest .control a {
	background:  url(images/bit.jpg) -10px -10px no-repeat;
	bottom: -35px;
	border: none;
	width: 90px;
	height: 90px;
}

.suggest .control a:before {
	content: '';
	position: absolute;
	background: rgba(255, 255, 255, .5);
	width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.suggest .control a:after {
	content: '';
	position: absolute;
	background:  url(images/bit.jpg) -10px -10px no-repeat;
	width: 70px;
    height: 70px;
    border-radius: 50%;
    bottom: 10px;
    left: 10px;
}

/* EPIC CONTROLS for end screen*/
.end .control:before {
	background: #434343;
}

.end .control a {
	width: 90px;
	height: 90px;
	background-color: #434343;
	border: none;
}

.end .control:after {
	bottom: 10px;
	 -webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}

/*.end .control a:before {
	left: 8px;
	top: 35px;
    -webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
	        transform: rotate(0deg);
}*/

/*end*/

.hearts {
	width: 605px;
	margin: 0 auto;
	text-align: left;
	padding: 10px 0;
	top: 8%;
}

.hearts-how {
	width: 100%;
	text-align: center;
}

.hearts__item {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 32.8%;
	line-height: 1.5;
	padding: 20px 0;
}

.hearts__image i {
	font-size: 58px;
}

.hearts__text {
	font-family: UbuntuLight;
	font-size: 19px;
}

.open {
	background-image: url(images/open-bg.jpg); 
}

.open__phone {
	font-size: 20px;
	font-family: Ubuntu, Helvetica, Arial, sans-serif;
	padding: 15px 0;
	display: inline-block;
}

.title {
	font-family: Museo, Helvetica, Arial, sans-serif;
	font-weight: 500;
	text-align: center;
	margin: 0 auto;	
}

.title > span {
	text-transform: uppercase;
	line-height: 2;
}

.title-open, .title-how, .title-review, .title-end {
	font-size: 36px;
	top: 2%;
}

.title-subscribe {
	font-size: 30px;
	padding: 20px 0 10px 0;
}

.title-suggest {
	font-size: 18px;
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 5px;
	margin-top: 40%;
	text-align: left;
}

.how {
	background-image: url(images/how-bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 110%;
}

.how form {
	padding: 15px 0;
}

.cards {
	top: 10%;
	height: 58%;
}

.cards__item {
	font-family: UbuntuLight;
	font-size: 14px;
	color: #fff;
	text-align: left;
	display: inline-block;	
	position: relative;
	width: 440px;
	padding: 15px;
	background-image: url(images/cards.jpg);
}

.cards__item:before {
	content: '';
	position: absolute;
	background: linear-gradient( rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1));
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cards__item:last-child {
	margin-left: 15px;
}

.cards__item > div, .cards__item > ul {
	position: relative;
}

.suggest li {
	padding-bottom: 10px;
}

.time, .price {
	font-family: UbuntuLight;
	line-height: 1.5;
}

.time {
	font-size: 18px;
}

.price {
	font-size: 22px;
}

.time img, .price img {
	padding: 15px 10px 0 0;
	vertical-align: bottom;
}
.review {
	background-image: url(images/review-bg.jpg);
}

.reviews {
	top: 15%;
}

.reviews__item {
	width: 445px;
	padding: 20px;
	box-sizing: border-box;
	display: inline-block;
	background: #fff;
	border-radius: 5px;
	text-align: left;
	position: relative;
}

.reviews__item:before {
	content: '';
	position: absolute;
	width:0;
	height: 0;
	top: -20px;
	left: 50px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #fff;
}

.reviews__photo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	background-image: url(images/reviewer.jpg);
}

.reviews__title {
	font-size: 24px;
	text-align: left;
	padding-top: 8px;
}
.reviews__link {
	font-size: 14px;
	font-family: UbuntuLight;
	color: #c03d43;
	margin: 12px 0 10px 0;
}

.reviews__text {
	font-family: UbuntuLight;
	font-size: 16px;
}

.reviews__link i {
	margin-right: 10px;
}

.reviews__item:last-child {
	margin-left: 15px;
}

.end .container {
	text-align: left;
}

.hellwrapper {
	top: 9%;
}

.end select {
	width: 94%;
	height: 45px;
	background: #fff;
	border: 1px solid #ccc;
	   -webkit-appearance:none;
          -moz-appearance:none;
               appearance:none;
	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.end form {
	display: inline-block;
	vertical-align: top;
	width: 413px;
	margin-left: 35px;
	text-align: center;
}

.end form span {
	font-family: UbuntuLight;
	font-size: 16px;
	display: block;
	margin-top: 25px;
}

.end .cards__item:last-child {
	margin: 0;
}

.end .price,  .end .time {
	float: right;
	margin-left: 20px;
}

.title-suggest-end {
	margin: 280px 0 10px 0;
}

/*Raping slider*/

.container .fp-controlArrow {
	position: absolute;
	background-image: url(images/2-3screen_arrow.png);
	width: 28px !important;
	height: 28px;
	border-radius: 50%;
	border: none;
}

.fp-controlArrow.fp-next {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.container .fp-controlArrow.fp-next {
	right: 442px;
}
.container .fp-controlArrow.fp-prev {
	left: -30px;
}

.review .fp-controlArrow.fp-next {
	right: -5px;
	top: 57%;
	
}
.review .fp-controlArrow.fp-prev {
	left: -5px;
	top: 57%;
}

.container .fp-slides {	
	width: 48%;
	margin: 0 20px;
	height: 502px;
	display: inline-block;
}

.container .fp-tableCell {
	display: block;
}

.review .fp-slides {
	height: 100%;
	width: 910px;
	margin: 0 35px;
}

.review .fp-slide {
	width: 445px !important;
	margin-right: 20px;
	display: inline-block !important;
}






